<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fufang.cloud.mapper.mysql.BankMapper" >
  <resultMap id="BaseResultMap" type="com.fufang.cloud.model.Bank" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="fields">
    id, name
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_bank
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fufang.cloud.model.Bank" >
    insert into t_bank (<include refid="fields"/> )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.fufang.cloud.model.Bank" >
    update t_bank
    set name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="fields"/> from t_bank where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select <include refid="fields"/> from t_bank ORDER BY name
  </select>
</mapper>